body {
    text-align: center; 
    background-color: antiquewhite;
}

.form {
    margin-top: 100px;
    margin-left: 100px;
}
.note {
    position: absolute;
    height: 550px;
    width: 450px;
    background: rgba(255, 255, 255, 0.9);
    margin: -275px -275px;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 5px 0px #888;
}

.line {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 25px, steelblue 26px);
}

.text {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height:25px ;
    overflow: hidden;
    outline: none;
}